*{
    margin: 0;
    padding: 0;

}
/* header section */
.header{
    background-image:url('./images/donation7.jpg');
    background-repeat: no-repeat;
    width: 100%;
    width: 100%;
    font-size: 80px;
    padding: 50px;
    
   
}
.header-title{
    color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 29px;
}
.header-subtitle{
    color: white;
    text-align: center;
    font-size:35px;
}
.description1{
    color: white;
    font-size:24px ;
    text-align: center;

}
.detilce02{
    color: white;
    font-size: 20px;
    text-align: center;
}
.button{
    text-align: center;
}
.btn-praimary{
    font-size: 40px;
    color: white;
    background-color: crimson;
    border: none;
    border-radius: 8px;
}
.donate-today{
    margin-top: 50px;
    padding: 0 100px;
  
}
.donet-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}
.donet-des01{
    text-align: center;
    padding: 5px;
}
.donet-des02{
    text-align: center;
    padding-bottom:  30px;
}
.amount{
    display: flex;
    gap: 10px;
    align-items: center;

}
.select-amount{
    height: 100px;
    width: 100px;
   
    text-align: center;
    background-color: chocolate;
    color: burlywood;
    font-size: 30px;
    padding-top: 50px;
}
.other-amount{
    margin-top: 50px;
    text-align: center;
    font-size:30px ;
}
hr{
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
/* second section */
.second-title{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 10px;
}
.description{
    text-align: center;
  margin-bottom: 10px;
}
.description01{
    text-align: center;
}
.donet-plan{
    display: flex;
    gap: 25px;
    margin: 100px;
}
.plan-item{
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.06); 
    border-radius: 5px;
    margin-top: 10px;
}
h4{
    margin-bottom: 5px;
}
/* third-section */
.third-section{
    display: flex;
    margin: 0 100px;
    gap: 10px;
    align-items: center;
}
.image01{
    height: 80%;
    width: 80%;
}
.third-title{
    font-size: 30px;
    margin-bottom: 15px;
}
.third-description{
    margin-bottom: 10px;
}
button{
    color: white;
    background-color: brown;
    font-size:40px;
    border-radius: 5px;
    border: none;
    margin: 25px;
}